.datenschutz h1 {
    font-size: 30px;
}
.datenschutz h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.datenschutz h3 {
    margin-top: 35px;
    margin-bottom: 15px;
}
.datenschutz h4 {
    margin-top: 35px;
    margin-bottom: 10px;
}









.rechtliches-navigate-back {
    display: grid;
    grid-template: 1fr / auto auto;
    grid-gap: 10px; 
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--accentColor);
    padding: 7.5px;
    margin-top: 50px;
}
.rechtliches-navigate-back img {
    height:30px;
}
.rechtliches-navigate-back p {
    font-size: 12px;
    margin: 0;
}