.datenschutz h1 {
    font-size: 30px;
}
.datenschutz h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
.datenschutz h3 {
    margin-top: 35px;
    margin-bottom: 15px;
}
.datenschutz h4 {
    margin-top: 35px;
    margin-bottom: 10px;
}