.archive-year {
    display: grid;
    grid-template: 1fr / auto auto auto;
    justify-content: space-between;
    background-color: var(--primary);
    margin-bottom: 20px;
    padding: 5px 20px ;
}