/*
background: #1A1A1D
primaryColor: 
secondaryColor: 
tertiaryColor:
accentColor: #C3073F


bigHeadings:
smallHeadings:
normal:
small: 
tiny:
*/

:root {
    --background: #1A1A1D;
    --primary: #4E4E50;
    --font: #e9e9e9;
    --secondary: #6F2232;
    --accentColor: #C3073F;
}


html, body, head, footer, head {
    margin: 0;
    padding: 0;
}
html {
    background-color: var(--background);
    overflow-x: hidden;
    max-width: 100vw;
}




p, h1, h2, h3, h4, h5, h6, li, img, a, button, input {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font);
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}
input, select {
    background-color: var(--primary);
    color: var(--font);
    border: none;
    outline: none;
}



header {
    padding: 30px 0;
}
.body, header {
    width: 70%;
    margin: 0 auto;
}







header ul {
    list-style: none;
}
.header-container {
    display: grid;
    grid-template: 1fr / 1fr auto;
    z-index: 11;
}
.header-container-list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.header-container-list li {
    display: flex;
    align-items: center;
    justify-content: center;    
}
.header-container-list li a {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 17px;
}
header button {
    font-size: 14px;
}
.header-einstellungen img {
    height: 10px;
}
.header-logo-link {
    display: flex;
    align-items: center;
}
.header-container img, .header-toggle-img {
    height: 25px;
}
.header-toggle-img {
    background-image: url("/images/menuWhite.png");
    background-position: center;
    background-size: cover;
}







.header-toggle {
    display: none;
    background-color: transparent;
    border: none;
}
.header-container-mobile {
    display: none;
}
.header-toggle-input{
    display: none;
}
.header-container-mobile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;

}  
.header-container-mobile ul {
    padding: 0;
    margin: 0;    
} 
.header-container-mobile ul li {
    font-size: 37px; 
    text-align: center;
}
.header-container-mobile a button {
    font-size: 30px; 
    text-align: center;
}
.header-container-mobile ul li {
    margin: 30px 0;     
}



header button {
    background-color: var(--accentColor);
    border: none;
    padding: 5px 10px;
}






footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
footer p {
    margin: 0;
}
.footer {
    display: flex;
    gap: 20px;
}












@media (max-width: 640px) {
    .body, header {
        width: 80%;
    }



    .header-toggle-img {
        height: 40px;
        width: 40px;
    }


    .header-toggle {
        display: flex
    }
    .header-container-list {
        display: none;
    }
    header .active {
        display: flex;
    }
    header .active ~ header li, header img, header button, header a {
        color: var(--font);
        z-index: 15;
    }
    /* header .active .header-toggle-img {
        background-image: url("/images/menuWhite.png");
    } */

    header button {
        font-size: 20px;
        padding: 5px 10px;
    }







    .delete-mobile {
        display: none;
    }
}




@media (min-width: 641px) and (max-width: 1007px) {
    .header-container-list {
        gap: 20px;
    }
}



@media (min-width: 1008px){
    .header-container-list {
        gap: 50px;
    }
    .header-container-list li a {
        font-size: 20px;
    }
    header button {
        font-size: 17px;
    }
}